<c-container fluid class="px-4 py-4"> 
    <c-row>
        <c-col sm="12">           
            <div class="accordion-body">
                <form [formGroup]="queryForm" class="form-row" (ngSubmit)="onSubmit()">
                    <c-row>
                        <mat-form-field class="col-sm-4">
                            <mat-label><b>Zona Monitoreo</b></mat-label>
                            <mat-select formControlName="zonaId" (selectionChange)="ZonaChange($event.value)">
                                <mat-option [value]="0" selected>-- Seleccione</mat-option>
                                <mat-option *ngFor="let option of _dataZona" [value]="option.id">
                                    {{option.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="queryForm.controls['zonaId'].hasError('min')">
                                Seleccione una opción.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-sm-4" *ngIf="_zonaSelected?.text == 'PILA'">
                            <mat-label><b>Pila</b></mat-label>
                            <mat-select formControlName="pilaId">
                                <mat-option [value]="0" selected>-- Seleccione</mat-option>
                                <mat-option *ngFor="let option of _dataPila" [value]="option.id">
                                    {{option.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="queryForm.controls['pilaId'].hasError('min')">
                                Seleccione una opción.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-sm-4">
                            <mat-label><b>Variable</b></mat-label>
                            <mat-select formControlName="variableId">
                                <mat-option *ngFor="let option of _dataVariables" [value]="option.id">
                                    {{option.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="queryForm.controls['variableId'].hasError('min')">
                                Seleccione una opción.
                            </mat-error>
                        </mat-form-field>
                    </c-row>
                    <c-row>
                        <mat-form-field class="col-sm-4">
                            <mat-label><b>Desde</b></mat-label>
                            <input matInput formControlName="from" type="date">
                        </mat-form-field>
                        <mat-form-field class="col-sm-4">
                            <mat-label><b>Hasta</b></mat-label>
                            <input matInput formControlName="to" type="date">
                        </mat-form-field>
                        <c-col sm="4">
                            <button cButton color="warning" (click)="onSubmit()" class="mr-1"><i
                                    class="fa fa-search"></i> Filtrar</button>
                        </c-col>
                    </c-row>
                </form>
            </div>           
        </c-col>
    </c-row>
    <br>
    <c-row>
        <c-col sm="12" class="flow-table" *ngIf="showChart">
            <h4><strong>{{_title}}</strong></h4>
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType" id="MyChart">
            </canvas>
        </c-col>
    </c-row>
</c-container>