<c-container fluid>
    <c-row>
        <c-col sm="12">            
            <div class="accordion-body">
                <form [formGroup]="queryForm" class="form-row" (ngSubmit)="onSubmit()">
                    <c-row>
                        <mat-form-field class="col-sm-4">
                            <mat-label><b>Zona Monitoreo</b></mat-label>
                            <mat-select formControlName="zonaId" (selectionChange)="ZonaChange($event.value)">
                                <mat-option [value]="0" selected>-- Seleccione</mat-option>
                                <mat-option *ngFor="let option of _dataZona" [value]="option.id">
                                    {{option.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="queryForm.controls['zonaId'].hasError('min')">
                                Seleccione una opción.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-sm-4" *ngIf="_zonaSelected?.text == 'PILA'">
                            <mat-label><b>Pila</b></mat-label>
                            <mat-select formControlName="pilaId" (selectionChange)="PilaChange($event.value)">
                                <mat-option [value]="0" selected>-- Seleccione</mat-option>
                                <mat-option *ngFor="let option of _dataPila" [value]="option.id">
                                    {{option.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="queryForm.controls['pilaId'].hasError('min')">
                                Seleccione una opción.
                            </mat-error>
                        </mat-form-field>
                        <c-col sm="4">
                            <button cButton color="warning" (click)="onSubmit()" class="mr-1" *ngIf="_pilaSelected"><i
                                    class="fa fa-search"></i> Filtrar</button>
                        </c-col>
                    </c-row>                   
                </form>
            </div>          
        </c-col>
    </c-row>
    <br>   
    <c-row>        
        <c-col sm="12" class="flow-table">
            <ng-container>
                <table class="table custom-table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Tipo Nodo</th>
                            <th>Nodo</th>
                            <th>Nivel</th>
                            <th>Sensor</th>
                            <th>Alias</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let option of dataSource2">
                            <td>{{ option.nombreTipoNodo }}</td>
                            <td>{{ option.nombreNodo }}</td>
                            <td>{{ option.nivel }}</td>
                            <td>{{ option.sensor }}</td>
                            <td>{{ option.aliasSensor }}</td>
                            <td>{{ option.valorSensor.Value }}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </c-col>
    </c-row>
</c-container>