<!--sidebar-->
<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible narrow="true"
  unfoldable="true" colorScheme="light">
  <c-sidebar-brand [brandFull]="{
      src: 'assets/img/brand/lixitrack.png',
      width: 200,
      height: 46,
      alt: 'LixiBanff'
    }" [brandNarrow]="{
      src: 'assets/img/brand/brandIcon.png',
      width: 46,
      height: 46,
      alt: 'LixiBanff'
    }" routerLink="./">
  </c-sidebar-brand>
  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
    <c-sidebar-nav [navItems]="navItemsForShow">
    </c-sidebar-nav>
  </perfect-scrollbar>
  <c-sidebar-toggler *ngIf="!sidebar.narrow" toggle="unfoldable" cSidebarToggle="sidebar"></c-sidebar-toggler>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="d-print-none header header-sticky" position="sticky"
    sidebarId="sidebar"></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-4 py-4">
      <router-outlet></router-outlet>  
  </div>
  <!--app footer-->
  <div *ngIf="spinnerService.visibility | async" style="z-index: 9999;">
    <div class="fade show text-center loading-new" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh">    
      <img src="assets/img/brand/lixitrack.png" style="width: 10%;" class="px-4" />
      <br>
      <div class="spinner-grow spinner-grow-sm text-warning mx-4" role="status">
        <span class="sr-only"></span>
      </div>   
      <div class="spinner-grow spinner-grow-sm text-warning mx-4" role="status">
        <span class="sr-only"></span>
      </div> 
      <div class="spinner-grow spinner-grow-sm text-warning mx-4" role="status">
        <span class="sr-only"></span>
      </div> 
      <div class="spinner-grow spinner-grow-sm text-warning mx-4" role="status">
        <span class="sr-only"></span>
      </div>    
    </div>
  </div>
  <app-default-footer></app-default-footer>
</div>