<c-container [fluid]="true">
  <c-card>
    <!-- <c-card-header class="text-bg-dark">
      <strong>MEDICIONES</strong>
    </c-card-header> -->
    <c-card-body>
      <p class="mb-2"><b><u>Filtros</u></b></p>
      <c-row class="mb-2">
        <c-col sm="1">
          Desde:
        </c-col>
        <c-col sm="2">
          <input type="date" class="form-control form-control-sm">
        </c-col>
        <c-col sm="1">
          Hasta:
        </c-col>
        <c-col sm="2">
          <input type="date" class="form-control form-control-sm">
        </c-col>
      </c-row>
      <c-row>
        <c-col sm="1">
          Pila:
        </c-col>
        <c-col sm="2">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>-- Seleccione --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </c-col>
        <c-col sm="1">
          Paño:
        </c-col>
        <c-col sm="2">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>-- Seleccione --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </c-col>
      </c-row>
      <hr>
      <c-row class="mb-2">
        <c-col sm="10">         
        </c-col>     
        <c-col sm="2" class="text-right">
          <input type="text" class="form-control form-control-sm" placeholder="Filtro...">
        </c-col>
      </c-row>      
      <c-row>
        <c-col sm="12">          
          <table class="table table-striped table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">Time</th>           
                <th scope="col">devEui</th>    
                <th scope="col">fPort</th>  
                <th scope="col">freq</th>  
                <th scope="col">nnodo</th>  
                <th scope="col">sensor</th>  
                <th scope="col">value</th>  
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of _data">
                <td>{{item.Time}}</td> 
                <td>{{item.devEui}}</td>
                <td>{{item.datos_decodificados.fPort}}</td>
                <td>{{item.datos_decodificados.freq}}</td>
                <td>{{item.datos_decodificados.nnodo}}</td>
                <td>{{item.datos_decodificados.sensor}}</td>
                <td>{{item.datos_decodificados.value}}</td>
              </tr>              
            </tbody>
          </table>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>