<div class="container">
  <h1 mat-dialog-title><svg cIcon size="xl" name="cil-gradient" class="icon-back-color-warning mr-1"></svg> {{_title}}
  </h1>
  <hr>
  <div mat-dialog-content>
    <form [formGroup]="queryForm" class="form-row" (ngSubmit)="onSubmit()">
      <c-row>
        <c-col sm="6">
          <mat-form-field class="col-sm-12">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="codigoPila">
            <mat-error *ngIf="queryForm.controls['codigoPila'].hasError('required')">
              Ingrese un codigo.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombrePila">
            <mat-error *ngIf="queryForm.controls['nombrePila'].hasError('required')">
              Ingrese un nombre.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcionPila">
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>Ubicación</mat-label>
            <input matInput formControlName="ubicacionPila">
          </mat-form-field>
        </c-col>
        <c-col sm="6">
          <mat-form-field class="col-sm-12">
            <mat-label>Posición</mat-label>
            <input type="number" matInput formControlName="posicionPila">
            <mat-error *ngIf="queryForm.controls['posicionPila'].hasError('required')">
              Ingrese una posición.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>Cantidad Paños</mat-label>
            <input type="number" matInput formControlName="cantidadPanos">
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>Ancho de la Pila</mat-label>
            <input type="number" matInput formControlName="anchoPila">
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>Largo de la Pila</mat-label>
            <input type="number" matInput formControlName="largoPila">
          </mat-form-field>
        </c-col>
      </c-row>

      <c-col *ngIf="dataObject && !dataObject.active">
        <c-alert color="danger" class="d-flex align-items-center">
          <div><i class="fa-solid fa-circle-exclamation"></i>
            Este {{ _entity }} se encuentra desactivado desea activarlo?
            <button class="ml-1" cButton color="success" (click)="activar()" variant="outline">Activar</button>
          </div>
        </c-alert>
      </c-col>

      <c-row>
        <c-col sm="12">
          <c-alert color="warning" class="d-flex align-items-center">
            <div><b color="warning"><i class="fa fa-location-dot"></i> POSICIONAMIENTO EN EL MAPA</b></div>
          </c-alert>
        </c-col>
      </c-row>
      
      <c-row>
        <c-col sm="4">
          <mat-form-field class="col-sm-12">
            <mat-label>Lat (Latitud)</mat-label>
            <input matInput formControlName="latitudPila">
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>Lng (Longitud)</mat-label>
            <input matInput formControlName="longitudPila">
          </mat-form-field>
          <div class="col-sm-8">
            <button cButton color="warning" (click)="buscarGPS()" variant="outline">Localizar <i class="fa fa-search"
                matTooltip="UBICAR EN EL MAPA"></i></button>
          </div>
        </c-col>
        <c-col sm="8">
          <div #map style="width:100%;height:300px"></div>
        </c-col>
      </c-row>
    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button cButton color="warning" (click)="onSubmit()" class="mr-1">{{_saveButtonName}}</button>
    <button cButton color="light" (click)="closeMe()">{{_closeButtonName}}</button>
  </div>
</div>