<div class="container">
  <h1 mat-dialog-title>{{_title}}</h1>
  <div mat-dialog-content>
    <form [formGroup]="queryForm" class="form-row" (ngSubmit)="onSubmit()">
      <mat-form-field class="col-sm-4 px-2">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombrePila">
        <mat-error *ngIf="queryForm.controls['nombrePila'].hasError('required')">
          Ingrese un nombre.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-4 px-2">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correoPila" email required>
        <mat-error *ngIf="queryForm.controls['correoPila'].hasError('required')">
          Ingrese un correo.
        </mat-error>
        <mat-error *ngIf="queryForm.controls['correoPila'].hasError('email')">
          Ingrese un correo válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-4 px-2">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="telefonoPila">
      </mat-form-field>

      <mat-form-field class="col-sm-12 px-2">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccionPila">
      </mat-form-field>

      <mat-form-field class="col-sm-12 px-2">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcionPila">
      </mat-form-field>

      <c-col *ngIf="dataObject && !dataObject.active">
        <c-alert color="danger" class="d-flex align-items-center">
          <div><i class="fa-solid fa-circle-exclamation"></i>
            Este {{ _entity }} se encuentra desactivado desea activarlo?
            <button class="ml-1" cButton color="success" (click)="activar()" variant="outline">Activar</button>
          </div>
        </c-alert>
      </c-col>
    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button cButton color="warning" (click)="onSubmit()" class="mr-1">{{_saveButtonName}}</button>
    <button cButton color="light" (click)="closeMe()">{{_closeButtonName}}</button>
  </div>
</div>