<c-card>
    <c-card-body>
        <c-row>
            <c-col sm="4">Nodos: 
                <select (ngModelChange)="nodeChange($event)" [(ngModel)]="chartActive" class="form-control input-sm">
                    <option *ngFor="let item of NodosArray" [value]="item">{{item}}</option>
                </select>
            </c-col>
            <c-col sm="12" *ngIf="chartActive == '-- seleccione --'">
                <hr>
               <span>Seleccione un nodo para mostrar las lecturas</span> 
            </c-col>
            <c-col sm="12" *ngIf="chartActive != '-- seleccione --'">
                <hr>
                <div class="w-100 text-center"><h4>Nodo: {{chartActive}}</h4></div>
                <br>
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
                </canvas>
                <c-col>
                    <br>
                    <hr>
                    <br>
                </c-col>
                <c-col sm="12">
                    <h4 class="card-title mb-0" id="traffic">
                        Listado:
                    </h4>
                    <hr>
                    <table class="table table-sm table-stripped">
                        <thead>
                            <tr>
                                <th><b>Fecha</b></th>
                                <th><b>Sensor</b></th>
                                <th><b>Valor</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of objFiltered">
                                <td>{{item.fecha | date:'dd/MM/yyyy hh:mm'}}</td>
                                <td>{{item.sensor}}</td>
                                <td>{{item.valor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </c-col>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>