<div class="container">
  <h1 mat-dialog-title>{{_title}}</h1>
  <div mat-dialog-content>
    <form [formGroup]="queryForm" class="form-row" (ngSubmit)="onSubmit()">

      <mat-form-field class="col-sm-3 px-2">
        <mat-label>Posición</mat-label>
        <input type="number" matInput formControlName="posicionPila">
        <mat-error *ngIf="queryForm.controls['posicionPila'].hasError('required')">
          Ingrese una posición.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-3 px-2">
        <mat-label>Cantidad Paños</mat-label>
        <input type="number" matInput formControlName="cantidadPanos">       
      </mat-form-field>

      <mat-form-field class="col-sm-3 px-2">
        <mat-label>Ancho de la Pila</mat-label>
        <input type="number" matInput formControlName="anchoPila">       
      </mat-form-field>

      <mat-form-field class="col-sm-3 px-2">
        <mat-label>Largo de la Pila</mat-label>
        <input type="number" matInput formControlName="largoPila">       
      </mat-form-field>

      <mat-form-field class="col-sm-4 px-2">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="codigoPila">
        <mat-error *ngIf="queryForm.controls['codigoPila'].hasError('required')">
          Ingrese un codigo.
        </mat-error>
      </mat-form-field>   

      <mat-form-field class="col-sm-8 px-2">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombrePila">
        <mat-error *ngIf="queryForm.controls['nombrePila'].hasError('required')">
          Ingrese un nombre.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-6 px-2">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcionPila">
      </mat-form-field>

      <mat-form-field class="col-sm-6 px-2">
        <mat-label>Ubicación</mat-label>
        <input matInput formControlName="ubicacionPila">
      </mat-form-field>    

      <c-col *ngIf="dataObject && !dataObject.active">
        <c-alert color="danger" class="d-flex align-items-center">
          <div><i class="fa-solid fa-circle-exclamation"></i>
            Este {{ _entity }} se encuentra desactivado desea activarlo?
            <button class="ml-1" cButton color="success" (click)="activar()" variant="outline">Activar</button>
          </div>
        </c-alert>
      </c-col>
    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button cButton color="warning" (click)="onSubmit()" class="mr-1">{{_saveButtonName}}</button>
    <button cButton color="light" (click)="closeMe()">{{_closeButtonName}}</button>
  </div>
</div>