<c-container fluid>
    <c-row>
        <c-col sm="12">
            <c-card>
                <c-card-body>
                    <c-row>
                        <c-col sm="1" class="border-right-vertical text-center">
                            <svg cIcon size="xl" name="cil-view-column" class="icon-back-color-warning"></svg>
                        </c-col>
                        <c-col sm="7">
                            <b class="mant-title">{{_title}}</b>
                            <button cButton color="warning" class="btn btn-md ml-2" variant="outline"
                                (click)="openDialog();"><b>{{_createName}}</b></button>
                        </c-col>
                        <c-col sm="2" class="text-right">
                            <button cButton color="success" matTooltip="EXPORTAR EXCEL" variant="outline"
                                class="btn btn-sm mr-1" (click)="exporter.exportTable('xlsx', {fileName:_title})"><svg
                                    cIcon size="md" name="cil-spreadsheet"></svg></button>
                            <button cButton color="danger" matTooltip="EXPORTAR PDF" variant="outline"
                                class="btn btn-sm" (click)="ExportPDF();"><svg cIcon size="md"
                                    name="cil-notes"></svg></button>
                        </c-col>
                        <c-col sm="2">
                            <input cFormControl class="mb-2" placeholder="{{_searchText}}" type="text"
                                (keyup)="applyFilter($event)" />
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col sm="12">
            <ng-container>
                <table mat-table [dataSource]="dataSource"
                    class="table custom-table table-hover table-bordered table-sm" matTableExporter
                    #exporter="matTableExporter" matSort #tableSort="matSort" id="principalTable" #principalTable>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-header-text"
                            style="width:10%;">ACTIONS</th>
                        <td mat-cell *matCellDef="let item" class="text-center p-2">
                            <button cButton color="warning" (click)="openDialog(item);" matTooltip="EDITAR REGISTRO">
                                <i class="fa-solid fa-edit"></i></button>
                            <button cButton color="danger" class="ml-1" (click)="deleteRow(item);"
                                matTooltip="ELIMINAR REGISTRO">
                                <i class="fa-solid fa-close text-white"></i></button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="codigoPano">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-header-text">CODIGO</th>
                        <td mat-cell *matCellDef="let item" class="p-2 vert-td"><b>{{ item.codigoPano }}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="nombrePano">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-header-text">NOMBRE</th>
                        <td mat-cell *matCellDef="let item" class="p-2 vert-td"><b>{{ item.nombrePano }}</b></td>
                    </ng-container>
                    <ng-container matColumnDef="descripcionPano">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-header-text">DESCRIPCION</th>
                        <td mat-cell *matCellDef="let item" class="p-2 vert-td">{{ item.descripcionPano }}</td>
                    </ng-container>
                    <ng-container matColumnDef="active">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-header-text text-center"
                            style="width:1.2em;">ACTIVO</th>
                        <td mat-cell *matCellDef="let item" class="p-2 vert-td text-center">
                            <i
                                class="fa-solid {{ item.active ? 'fa-user-check text-success' : 'fa-user-large-slash text-danger' }}"></i>
                            <span [hidden]="true">{{item.active}}</span>
                        </td>
                    </ng-container>
                    <tr mat-header-row class="table-header-row" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let item; columns: displayedColumns"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                            <b>{{_noSearchResults}}</b>
                        </td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="_pageSizeOptions" showFirstLastButtons></mat-paginator>
            </ng-container>
        </c-col>
    </c-row>
</c-container>